Assignment2-UserBackend/src/wsdl/localhost_8080/Assignment2-DatabaseConnection/AdminDatabaseService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://service/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service/">

<xs:element name="deleteDupFlixData" type="tns:deleteDupFlixData"/>

<xs:element name="deleteDupFlixDataResponse" type="tns:deleteDupFlixDataResponse"/>

<xs:element name="dupflix" type="tns:dupflix"/>

<xs:element name="editDupFlixData" type="tns:editDupFlixData"/>

<xs:element name="editDupFlixDataResponse" type="tns:editDupFlixDataResponse"/>

<xs:element name="getAllDupFlixData" type="tns:getAllDupFlixData"/>

<xs:element name="getAllDupFlixDataResponse" type="tns:getAllDupFlixDataResponse"/>

<xs:element name="getDupFlixData" type="tns:getDupFlixData"/>

<xs:element name="getDupFlixDataResponse" type="tns:getDupFlixDataResponse"/>

<xs:element name="upload" type="tns:upload"/>

<xs:element name="uploadResponse" type="tns:uploadResponse"/>

<xs:complexType name="editDupFlixData">
<xs:sequence>
<xs:element name="arg0" type="tns:dupflix" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dupflix">
<xs:sequence>
<xs:element name="categoryType" type="xs:string" minOccurs="0"/>
<xs:element name="director" type="xs:string" minOccurs="0"/>
<xs:element name="dupflixId" type="xs:int" minOccurs="0"/>
<xs:element name="istrending" type="xs:string" minOccurs="0"/>
<xs:element name="movieDescription" type="xs:string" minOccurs="0"/>
<xs:element name="movieName" type="xs:string" minOccurs="0"/>
<xs:element name="movieSubtitle" type="xs:string" minOccurs="0"/>
<xs:element name="producer" type="xs:string" minOccurs="0"/>
<xs:element name="thumbnail" type="xs:base64Binary" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editDupFlixDataResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteDupFlixData">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteDupFlixDataResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllDupFlixData">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllDupFlixDataResponse">
<xs:sequence>
<xs:element name="return" type="tns:dupflix" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="upload">
<xs:sequence>
<xs:element name="arg0" type="tns:dupflix" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="uploadResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDupFlixData">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDupFlixDataResponse">
<xs:sequence>
<xs:element name="return" type="tns:dupflix" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>